@import "./../generalStyles/varriable.scss";

.siteLayout {
  max-width: $max-width;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  min-height: 100vh;
  grid-template-columns: auto 1fr;
}

.layout {
  font-family: var(--noto-serif);
  width: 100% !important;
}

.header {
  padding: 0;
  background: rgb(255, 255, 255);
  text-align: center;
  font-size: $middle-title-size;
  font-family: var(--noto-serif);
  font-weight: 600;
}

.sidebar {
  position: absolute;
  height: 100%;

  & > span {
    top: 12px !important;
  }

  span {
    color: $font-grey;
  }

  h2 {
    margin: 16px;
    color: #fff;
    font-size: $big-title-size;
    display: flex;
    justify-content: center;

    a {
      text-decoration: none;
      color: inherit;
      font-size: inherit;
    }
  }
}

.content {
  margin: 24px 24px 0;
  overflow: initial;
  font-family: var(--noto-serif);

  & > div {
    padding: 15px 24px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
  }
}

@media screen and (max-width: 768px) {
  .siteLayout {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 576px) {
  .content {
    margin: 10px 14px 0;

    & > div {
      padding: 10px;
    }
  }
}
