@import "./../generalStyles/varriable.scss";
@import "./General.scss";

.room__card {
  width: 100%;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-areas:
    "image title services"
    "image name ."
    "image btn cost";
  grid-auto-columns: 4fr 5fr 5fr;
  justify-items: stretch;
  grid-auto-flow: column;
  align-items: center;
  box-sizing: border-box;
  gap: 20px;

  .room__card_image {
    position: relative;
    grid-area: image;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 10px;

    .room__card_rewiew {
      position: absolute;
      top: 0;
      left: 20px;
      background: $font-active;
      padding: 8px 6px;
      color: #fff;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      z-index: 2;
    }

    .room__image_list {
      display: flex;
      height: inherit;
      overflow: auto;
      overflow-y: hidden;
      width: 100%;
      height: 100%;

      & > div {
        width: 300px;
        margin-right: 10px;
        height: inherit;

        &:last-child {
          margin-right: 0;
        }

        img {
          position: relative !important;
          height: 300px;
          width: inherit;
        }
      }
    }

    img {
      height: inherit !important;
      width: auto !important;
      left: 50% !important;
      top: 50% !important;
      transform: translate(-50%, -50%);
    }
  }

  .room__card_title {
    grid-area: title;
    align-self: baseline;
    justify-self: baseline;

    h3 {
      font-size: $small-title-size;
      font-weight: 400;
    }
  }

  .room__card_name {
    grid-area: name;
    margin: 20px 0;

    h4 {
      font-size: $small-title-size;
      text-align: initial;
      color: $font-text;
    }

    & > div {
      display: flex;
      align-items: center;
      margin-top: 8px;

      p {
        font-size: $small-text-size;
      }

      img {
        margin: 0 4px;
      }
    }
  }

  .room__card_btn {
    grid-area: btn;
    justify-self: baseline;

    button {
      padding: 10px 20px;
      outline: none;
      border: none;
      color: white;
      border-radius: 8px;
      background: $font-color;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .room__card_services {
    grid-area: services;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    & > div {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      margin-bottom: 5px;
      flex-wrap: wrap;
      max-width: 260px;

      div {
        display: flex;
        justify-content: flex-end;
      }

      p {
        font-size: $small-text-size;
        color: $font-active;
      }

      svg {
        margin-right: 5px;
        color: $font-active;
        height: 17px;
        width: 17px;
        fill: $font-active;
      }
    }
  }

  .room__card_cost {
    grid-area: cost;
    display: flex;
    justify-content: flex-end;
    align-items: center !important;

    div:first-child {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 20px;

      p {
        font-size: $middle-title-size;
        font-weight: 600;
        color: $font-text;
      }

      span {
        line-height: 50%;
      }
    }

    div:last-child {
      p {
        color: $font-link;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .siteLayout {
    font-size: 14px;

    .room__card {
      .room__card_title {
        margin-top: 20px;
      }

      .room__card_btn {
        margin-bottom: 20px;
      }

      .room__card_cost {
        margin-bottom: 20px;
        margin-right: 20px;
        justify-content: flex-start;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: absolute !important;
    z-index: 3;
  }

  .siteLayout {
    .rooms__list {
      .room__card {
        grid-template-rows: 200px;
        grid-template-areas:
          "image image"
          "title name"
          "cost btn";
      }

      .room__card_name {
        h4 {
          text-align: end;
        }
      }

      .room__card_cost {
        align-items: flex-start;
        margin-right: 0;
        margin-bottom: 0;

        div {
          p {
            text-align: start;
          }
        }
      }

      .room__card_btn {
        display: flex;
        height: 100%;
        align-items: flex-end;
        justify-content: flex-end;
        margin-bottom: 0;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .siteLayout {
    .rooms__list {
      .room__card {
        grid-template-rows: 150px;
        grid-template-areas:
          "image image"
          "title name"
          "cost btn";
        gap: 0;
      }

      .room__card_name {
        h4 {
          text-align: end;
        }
      }

      .room__card_cost {
        align-items: flex-start;
        flex-wrap: wrap;
        margin-right: 0;
        margin-bottom: 0;

        div {
          p {
            text-align: start;
          }
        }
      }

      .room__card_btn {
        display: flex;
        height: 100%;
        align-items: flex-end;
        justify-content: flex-end;
        margin-bottom: 0;
        width: 100%;
      }
    }
  }
}
