$font-color: #8c2f39;
$font-color-active: #b13b47;
// $font-link: #1976d2;
$font-link: #00509d;
$font-grey: #c0c0c0;
$font-title: #586f7c;
$font-text: #161a1d;
// $font-link-active: #1661d0;
$font-link-active: #b1a7a6;
$font-link-light: rgba(20, 108, 148, 0.25);
$font-active: #378e64;
$font-login: #c37878;
$font-login-light: #f6f1f1;
$bg-blue: rgba(20, 108, 148, 0.25);
$bg-blue-light: #d8e9f7;
$bg-grey: #eeeeee;

$very-big-title-size: 2.4em;
$big-title-size: 1.8em;
$middle-title-size: 1.4em;
$small-title-size: 1.2em;

$small-text-size: 0.8em;
$desc-text-size: 0.6em;

$default-margin: 90px 8% 0;
$tablet-margin: 50px 5% 0;
$mobile-margin: 30px 3% 0;

$default-margin-lr: 8%;
$tablet-margin-lr: 5%;
$mobile-margin-lr: 3%;

$font-family: "Noto Serif";

$max-width: 1360px;
